<div class="row">
  <div [ngClass]="{'col-sm-6': profSelecionado, 'col-sm-12': !profSelecionado}">
    <app-titulo [titulo]="'Professores'">
      <button class="btn btn-success" (click)="professorNovo()" >
        Cadastrar professor
      </button>
    </app-titulo><br>
    <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <th>Visualizar</th>
          <th scope="col">Id</th>
          <th scope="col">Nome</th>
          <th scope="col">Disciplina</th>
          <th scope="col">Opções</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let professor of professores'>
          <td><button (click)="professorSelec(professor)"
              class="btn text-dark btn-sm btn-outline-warning">Detalhes</button></td>
          <th scope="row">{{professor.id}}</th>
          <td>{{professor.nome}}</td>
          <td>{{professor.disciplina}}</td>
          <td>
            <div class="btn-group"><button class="btn btn-sm btn-outline-primary"
                (click)="openModal(template)">Alunos</button></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="col-sm-6" *ngIf="profSelecionado">
    <app-titulo [titulo]="(profSelecionado.id == 0? 'Novo Professor' : 'Professor:'+ profSelecionado.id)">
      <button class="btn btn-sm btn-warning" (click)="voltar()">
        Voltar
      </button>
    </app-titulo>
    <form [formGroup]="professorForm" (submit)="professorSubmit()">
      <div>
        <label>Nome</label>
        <input type="text" formControlName="nome" class="form-control" aria-describedby="emailHelp">
      </div>
      <!--<div class="form-group">
        <label>Disciplina</label>
        <input type="text" formControlName="disciplina" class="form-control">
      </div>-->
      <hr>
      <button type="submit" class="btn btn-primary" [disabled]="!professorForm.valid">Salvar</button>
    </form>

  </div>
</div>

<ng-template #template>
  <div class="modal-body">
    <app-alunos></app-alunos>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn pull-right" aria-label="Close" (click)="modalRef.hide()">
      Fechar
    </button>
  </div>
</ng-template>